<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>e
<form method="post">
    <input type="text" name="text" placeholder="Enter your text">
    <input type="text" name="tag" placeholder="Enter your tag">
    <button type="submit">Submit</button>
</form>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Search</button>
</form>
<p>It's a start page</p>
<table>
    <tr th:each="message: ${messages}">
        <td th:text="${message.id}"></td>
        <td th:text="${message.text}"></td>
        <td th:text="${message.tag}"></td>
    </tr>
</table>
</body>
</html>